@media (max-width: 575px) {  
  div div button.btn.btn-dark.category a {font-size: 20px;}
  div div div h2{font-size:32px;}
  div.row.mb-5.ms-1{margin-left: calc(-.5 * var(--bs-gutter-x)) !important;}
  
}

@media (min-width: 576px) {  
  div button.btn.btn-dark.category a {font-size:20px;}
  div div div h2{font-size:32px;}
  div button.btn.btn-dark.category{
    width: 25vw !important;
  }
  
}

@media (min-width: 768px) {  
  div button.btn.btn-dark.category a {font-size:20px;}
  div div div h2{font-size:32px;}
  div button.btn.btn-dark.category{
    width: 25vw !important;
  }
  div.row.mb-5.ms-1{margin-left: calc(-.3 * var(--bs-gutter-x)) !important;}
}

@media (min-width: 992px) {  
  div button.btn.btn-dark.category a {font-size:20px;}
  div div div h2{font-size:34px;}
  div button.btn.btn-dark.category{
    width: 25vw !important;
  }
  div.row.mb-5.ms-1{margin-left: calc(.3 * var(--bs-gutter-x)) !important;}
}

@media (min-width: 1200px) {  
  div button.btn.btn-dark.category a {font-size:26px;}
  div button.btn.btn-dark.category{
    width: 25vw !important;
  }
  div div div h2{font-size:41px;}
  div.row.mb-5.ms-1{margin-left: calc(.8 * var(--bs-gutter-x)) !important;}
}

@media (min-width: 1400px) {  
  div button.btn.btn-dark.category a {font-size:30px;}
  div button.btn.btn-dark.category{
    width: 25vw !important;
  }
  div div div h2{font-size:46px;}
  div.row.mb-5.ms-1{margin-left: calc(1 * var(--bs-gutter-x)) !important;}
}

div div form input{
	height: 3px;
}
table tr td img{
	width: 50px;
}
div table tr th{
	cursor: pointer;
}
.th-sort-asc::after {
  content: "\25b4";
}
.th-sort-desc::after {
  content: "\25be";
}

.th-sort-asc,
.th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.btn.btn-dark.mt-2.notification {
  position: relative;
  display: inline-block;
}

.btn.btn-dark.mt-2.notification span.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background: red;
  color: white;
}
